.root {
  height: 100%;
  display: grid;
  grid-template-areas:
    "loader loader loader"
    "messages messages messages"
    "builder edits player";

  grid-template-columns: minmax(200px, 400px) minmax(200px, 1fr) 400px;
  grid-template-rows: auto auto 1fr;
}

.loader {
  grid-area: loader;
}

.messages {
  grid-area: messages;
}

.builder {
  grid-area: builder;
  overflow-y: auto;
}

.player {
  grid-area: player;
}

.edits {
  grid-area: edits;
}
