.area {
  min-width: 50px;
  padding: 0 20px;
  border: 2px #c3c3c3 dashed;
  border-radius: 12px;
}

.area.dragging {
  background-color: #e7e7e7;
}

.children{
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  font-size: 24px;
}