.root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.children {
  padding: 10px;
  background-color: white;
  min-width: 50%;
  max-width: 90%;
  min-height: 50%;
  max-height: 90%;
  overflow: auto;
}
